* {
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}

body {
    letter-spacing: 2px;
    font-family: sans-serif;
}

p {
    line-height: 25px;
}

.container {
    position: relative;
    width: 80%;
    margin: auto;
    padding: 15px;
}

/* --- Inizio header --- */
header nav .left {
    float: left;
}

header nav .right {
    float: right;
}

header nav .container {
    content: "";
    display: table;
    clear: both;
}

header nav .right button {
    padding: 10px;
}

header nav.top {
    background: #80808033;
}

header nav a {
    float: left;
    padding: 10px;
    text-decoration: none;
}

header nav a.language {
    border-right: 1px solid black;
}

header nav.bottom .logo img {
    width: 100px;
}

header nav.bottom .right {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
}

header > .bottom-section {
    background-color: #4c6782;
    color: white;
}

header .bottom-section p {
    padding: 0 20px;
}
/* --- Fine header --- */

/* --- Inizio jumbotron --- */
.jumbotron {
    background-color: #ebc493e8;
}

.jumbotron .box {
    width: 35%;
    padding: 60px 0;
}

.jumbotron h1 {
    font-size: 60px;
}

.jumbotron p {
    margin: 20px 0;
}

.jumbotron button {
    padding: 30px;
}
/* --- Fine jumbotron --- */
