* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    letter-spacing: 0.5px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #33475b;
    font-size: 19px;
}

p {
    margin: 20px 0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 35px;
}

button {
    color: white;
    background-color: rgb(255, 122, 89);
    border: none;
    border-radius: 4px;
    cursor:pointer;
}

button:hover {
    background-color: rgb(255, 122, 89, 0.5);
}

.container {
    width: 75%;
    margin: auto;
    padding: 25px 0;
}

/* --- Inizio header --- */
nav a {
    display: inline-block;
    padding: 10px;
    height: 50px;
    line-height: 30px;
    text-decoration: none;
    color: #33475b;
    font-size: 90%;
}

nav a > span.arrow {
    color: #567697c7;
}

nav .left {
    float: left;
}

nav .right {
    float: right;
}

nav .container::after {
    content: "";
    display: table;
    clear: both;
}

nav.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid #80808052;
    background: #f5f8fa;
}

nav.top .left > div {
    display: inline-block;
}

nav.top .left .language {
    position: relative;
    border-right: 1px solid #80808038;
}

nav.top .left .language .menu {
    position: absolute;
    display: none;
    width: calc(100% - 10px);
    margin-left: 10px;
    background-color: white;
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.3);
    border-radius: 5px;
}

nav.top .left .language:hover .menu {
    display: block;
}

nav.top .left .language .menu ul {
    list-style-type: none;
}

nav.top .left .language .menu a {
    width: 100%;
}

nav.top .left .language .menu a:hover {
    background-color: #3cbbc83b;
}

nav.top .right .search {
    display: inline-block;
    margin-right: 25px;
}

nav.top .right .search input {
    display: none;
    padding: 5px;
    border: 1px solid #00b8ffbf;
    border-radius: 5px;
    background: #f5f8fa;
    box-shadow: 0 0 15px -5px #00b8ffbf;
}

nav.top .right .search:hover input {
    display: inline-block;
}

nav.top .right .search button {
    padding: 5px 5px 5px 0;
    font-size: 17px;
    background: #f5f8fa;
    color: #0089ffbf;
}

nav.top .right > button {
    height: 50px;
    padding: 10px;
}

nav.top .right button.log-in {
    padding: 10px 30px;
    margin-right: 5px;
    border: 1px solid rgb(255, 122, 89);
    background-color: white;
    color: rgb(255, 122, 89);
}

nav.top .right button.log-in:hover {
    background-color: rgb(255, 122, 89, 0.1);
}

nav.bottom {
    padding-top: 100px;
}

nav.bottom .left img {
    height: 100%;
}

nav.bottom .left a.logo {
    padding: 5px 10px;
}

nav.bottom .right > ul > li {
    display: inline-block;
    position: relative;
}

nav.bottom .right .menu {
    position: absolute;
    right: 0;
    display: none;
    width: 800%;
    padding: 30px;
    z-index: 3;
    background-color: white;
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.3);
    border-radius: 5px;
}

nav.bottom .right > ul > li:hover .menu {
    display: block;
}

nav.bottom .right .menu .item {
    float: left;
    margin: 0 5px;
}

nav.bottom .right .menu ul {
    list-style-type: none;
}

nav.bottom .right .menu::after {
    content: "";
    display: table;
    clear: both;
}

nav.bottom .right .menu a {
    width: 100%;
    height: 100%;
}

nav.bottom .right .menu a:hover {
    background-color: #3cbbc83b;
}


nav.bottom .right .menu.about h5 {
    padding: 10px;
}

nav.bottom .right .menu.about .item {
    width: calc(100% / 3 - 10px);
}

nav.bottom .right .menu.about a {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

nav.bottom .right .menu.partners h5 {
    margin-bottom: 10px;
    font-size: 100%;
}

nav.bottom .right .menu.partners .item {
    width: calc(100% / 2 - 10px);
}

nav.bottom .right .menu.partners p {
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
}

header > .bottom-section {
    background-color: #4c6782;
    color: white;
}

header > .bottom-section p {
    margin: 0;
    padding: 0 30px;
}

header > .bottom-section p > a {
    color: white;
}

header > .bottom-section p > a:hover {
    color: #81d1fc;
}
/* --- Fine header --- */

/* --- Inizio jumbotron --- */
.jumbotron {
    position: relative;
    padding: 20px 0 200px 0;
    border-bottom: 8px solid #000000a8;
    background-color: #ebc3b447;
}

.jumbotron .box {
    width: 35%;
    padding: 60px 0;
}

.jumbotron h1 {
    font-size: 50px;
}

.jumbotron button {
    position: relative;
    z-index: 1;
    padding: 30px;
    font-size: 20px;
}

.jumbotron .button-footer {
    width: 50%;
}

.jumbotron > img {
    position: absolute;
    bottom: 0;
    right: 0;
}
/* --- Fine jumbotron --- */

/* --- Inizio main --- */
main {
    padding: 60px 0;
    background: #f5f8fa;
}

main .row::after {
    content: "";
    display: table;
    clear: both;
}

main .box {
    float: left;
    width: calc(100% / 3 - 30px);
    margin-top: 15px;
    margin-bottom: 15px;
}

main .box.get {
    padding: 70px 25px 25px 25px;
    font-size: 80%;
    background-color: white;
}

main .box.center {
    margin-left: 45px;
    margin-right: 45px;
}

main .box h2 {
    font-size: 40px;
}

main .box.get h3 {
    display: inline-block;
    font-size: 25px;
}

main .box.get > i {
    font-size: 25px;
    color: rgb(255, 122, 89);
}

main .box.get p {
    padding-bottom: 30px;
    margin: 30px 0;
    border-bottom: 1px solid #80808038;
    font-size: 90%;
}

.box.get .popular-features {
    margin-bottom: 30px;
}

.box.get .popular-features h4 {
    margin-bottom: 30px;
}

.box.get .popular-features ul {
    list-style-type: none;
    font-size: 90%;
}

.box.get .popular-features li {
    margin: 10px 0;
}

.box.get .popular-features i {
    padding: 4px;
    font-size: 8px;
    border-radius: 100%;
    color: white;
    background-color: rgb(255, 122, 89);
}

.box.get button {
    width: 100%;
    padding: 20px;
}

.box.get:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
}
/* --- Fine main --- */

/* --- Inizio sezione info --- */
section.info {
    padding: 100px 0;
    line-height: 40px;
    text-align: center;
    background-image: linear-gradient(45deg, #00a4bd, #00bda5);
    color: white;
}

section.info .text {
    width: 60%;
    margin: auto;
}

section.info h3 {
    font-size: 30px;
}

section.info .table {
    margin-top: 80px;
}

section.info .table .row.first {
    border-bottom: 1px solid white;
}

section.info .table .cell {
    float: left;
    width: calc(100% / 4);
    border-right: 1px solid white;
    padding: 20px 0;
}

section.info .table .cell:last-child {
    border: 0;
}

section.info .table .row::after {
    content: "";
    display: table;
    clear: both;
}

section.info .table .cell > i {
    font-size: 30px;
}

section.info .table .cell > h4 {
    margin: 10px 0;
    font-size: 50px;
}

section.info .table .cell > h4.plus{
    position: relative;
    display: inline-block;
    padding-right: 15px;
}

section.info .table .cell > h4.plus::after {
    content: "+";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
}

section.info .table .row.second img#speciale {
    height: 33px;
}
/* --- Fine sezione info --- */

/* --- Inizio sezione customers --- */
section.customers {
    padding: 80px 0;
}

section.customers .left {
    float: left;
    width: 45%;
    padding-top: 20px;
}

section.customers .right {
    float: left;
    width: 55%;
}

section.customers .container::after {
    content: "";
    display: table;
    clear: both;
}

section.customers .top {
    margin-bottom: 80px;
}

section.customers .left h3 {
    font-size: 40px;
}

section.customers .left .top {
    padding-right: 80px;
}

section.customers .left .bottom {
    padding-top: 100px;
}

section.customers .left .bottom button {
    padding: 30px;
    font-size: 20px;
}

section.customers .right .top .logo {
    float: left;
    width: calc(100% / 4);
    padding: 20px;
    margin-bottom: 40px;
}

section.customers .right .top .logo img {
    width: 100%;
}

section.customers .right .top::after {
    content: "";
    display: table;
    clear: both;
}

section.customers .right .top .row.first .logo {
    transform: translate(0, calc((100% - 60px) / -2));
}

section.customers .right .top .row.second .logo {
    transform: translate(0, calc((100% - 66px) / -2));
}

section.customers .right .bottom .image {
    float: right;
    width: 60%;
}

section.customers .right .bottom img {
    width: 100%;
}
/* --- Fine sezione customers --- */

/* --- Inizio footer --- */
footer {
    padding-top: 80px;
    background-color: #33475b;
    color: #cbd6e2;
}

footer a {
    text-decoration: none;
    color: #cbd6e2;
}

footer a:hover {
    color: #81d1fc;
}

.actions-menu .action {
    float: left;
    width: calc((100% / 4) - ((25px * 3) / 4));
    margin-right: 25px;
}

.actions-menu .action.last {
    margin-right: 0;
}

.actions-menu::after {
    content: "";
    display: table;
    clear: both;
}

.actions-menu .action h4 {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.actions-menu .action ul {
    list-style-type: none;
}

.actions-menu .action a {
    display: inline-block;
    padding: 15px 0;
    width: 100%;
    font-size: 80%;
}

.actions-menu .action .tools-generators .menu {
    display: none;
    font-size: 80%;
}

.actions-menu .action .tools-generators:hover .menu {
    display: block;
}

footer .contacts {
    float: right;
    width: calc((100% / 4) - ((25px * 3) / 4));
}

footer .contacts button {
    height: 50px;
    padding: 10px;
    margin: 20px 0;
    background-color: white;
    color: black;
}

footer .contacts button:hover {
    background-color: #ffffffc9;
}

footer .contacts .icons a {
    float: left;
    width: calc((100% / 6) - ((25px * 5) / 6));
    margin-right: 25px;
    font-size: 26.6px;
}

footer .contacts .icons a.last {
    margin-right: 0px;
}

footer .contacts .icons::after {
    content: "";
    display: table;
    clear: both;
}

footer .languages {
    text-align: center;
    margin: 70px 0 50px 0;;
}

footer .languages li {
    display: inline-block;
}

footer .languages a {
    font-size: 20px;
    padding: 20px;
}

footer .bottom {
    border-top: 1px solid #cbd6e2;
    padding: 25px 0;
}

footer .bottom .left {
    float: left;
}

footer .bottom .right {
    float: right;
}

footer .bottom::after {
    content: "";
    display: table;
    clear: both;
}

footer .bottom a {
    height: 50px;
    padding: 5px 0;
    line-height: 30px;
}

footer .bottom .left .logo img {
    height: 100%;
}

footer .bottom .left .copyright {
    margin: 10px 0;
}

footer .bottom .right a {
    font-size: 20px;
    display: inline-block;
    padding: 10px;
}
/* --- Fine footer --- */

/* Inizio chat */
#chat {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    margin: 20px;
}

#chat .icon-face {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    width: 48px;
}

#chat .icon-face img {
    width: 100%;
}

#chat a.box {
    display: block;
    position: relative;
    padding-top: 24px;
    text-decoration: none;
}

#chat .text {
    position: relative;
    z-index: -1;
    background: white;
    border-radius: 5px;
    padding: 35px 25px 25px 25px;
}

#chat .text p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #33475b;
    margin: 0;
}

#chat .box .text i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: #33475bad;
}

#chat a.message {
    display: block;
    float: right;
    width: 25%;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 100%;
    font-size: 40px;
    color: white;
    background: rgb(66, 91, 118);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
}
/* Fine chat */
