* {
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}

body {
    letter-spacing: 0.5px;
    font-family: sans-serif;
    color: #33475b;
}

p {
    margin: 20px 0;
    line-height: 25px;
}

button {
    color: white;
    background-color: rgb(255, 122, 89);
    border: none;
    border-radius: 4px;
    cursor:pointer;
}

button:hover {
    background-color: rgb(255, 122, 89, 0.5);
}

.container {
    width: 80%;
    margin: auto;
    padding: 25px 0;
}

/* --- Inizio header --- */
nav a {
    display: inline-block;
    padding: 10px;
    height: 50px;
    line-height: 30px;
    text-decoration: none;
    color: #33475b;
}

nav .container::after {
    content: "";
    display: table;
    clear: both;
}

nav .left {
    float: left;
}

nav .right {
    float: right;
}

nav.top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #f5f8fa;
    border-bottom: 1px solid #80808052;
    z-index: 1;
}

nav.top .left > div {
    display: inline-block;
}

nav.top .left .language {
    position: relative;
    border-right: 1px solid black;
}

nav.top .left .language .menu {
    position: absolute;
    display: none;
    width: calc(100% - 10px);
    margin-left: 10px;
    background-color: white;
}

nav.top .left .language:hover .menu {
    display: block;
}

nav.top .left .language .menu ul {
    list-style-type: none;
    width: 100%;
}

nav.top .left .language .menu li {
    width: 100%;
}

nav.top .left .language .menu a {
    width: 100%;
}

nav.top .left .language .menu a:hover {
    background-color: #3cbbc83b;
}

nav.top .right input {
    padding: 5px;
    margin-right: 5px;
}

nav.top .right button {
    padding: 10px;
    height: 50px;
}

nav.top .right button.log-in {
    padding: 10px 30px;
    margin-right: 5px;
}

nav.bottom {
    padding-top: 100px;
}

nav.bottom .left img {
    height: 100%;
}

nav.bottom .left a.logo {
    padding: 5px;
}

nav.bottom .right > ul > li {
    display: inline-block;
}

header > .bottom-section {
    background-color: #4c6782;
    color: white;
}

header > .bottom-section p {
    margin: 0;
    padding: 0 30px;
}
/* --- Fine header --- */

/* --- Inizio jumbotron --- */
.jumbotron {
    background-color: #ebc493e8;
}

.jumbotron .box {
    width: 35%;
    padding: 60px 0;
}

.jumbotron h1 {
    font-size: 60px;
}

.jumbotron button {
    padding: 30px;
}
/* --- Fine jumbotron --- */

/* --- Inizio main --- */
main {
    background: #f5f8fa;
}

main .row::after {
    content: "";
    display: table;
    clear: both;
}

main .box {
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    width: calc(100% / 3 - 30px);
}

main .box.center {
    margin-left: 45px;
    margin-right: 45px;
}

main .box h2 {
    font-size: 40px;
}

main .box.get {
    padding: 50px 25px 25px 25px;
    background-color: white;
    font-size: 90%;
}

main .box.get h3 {
    display: inline-block;
    font-size: 25px;
}

main .box.get > i {
    font-size: 25px;
}

main .box.get p {
    padding-bottom: 30px;
    margin: 30px 0;
    border-bottom: 1px solid #80808038;
}

.box.get .popular-features {
    margin-bottom: 30px;
}

.box.get .popular-features h4 {
    margin-bottom: 30px;
}

.box.get .popular-features ul {
    list-style-type: none;
}

.box.get .popular-features li {
    margin: 10px 0;
}

.box.get .popular-features i {
    font-size: 8px;
    color: white;
    background-color: rgb(255, 122, 89);
    border-radius: 100%;
    padding: 4px;
}

.box.get button {
    width: 100%;
    padding: 20px;
}

.box.get:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
}
/* --- Fine main --- */

/* --- Inizio sezione info --- */
section.info {
    text-align: center;
    background-color: #00a4bd;
    color: white;
    line-height: 40px;
    padding: 100px 0;
}

section.info .text {
    width: 60%;
    margin: auto;
}

section.info h3 {
    font-size: 30px;
}

section.info .table {
    margin-top: 80px;
}

section.info .table .row.first {
    border-bottom: 1px solid white;
}

section.info .table .cell {
    float: left;
    width: calc(100% / 4);
    border-right: 1px solid white;
    padding: 20px 0;
}

section.info .table .cell:last-child {
    border: 0;
}

section.info .table .row::after {
    content: "";
    display: table;
    clear: both;
}

section.info .table .cell > i {
    font-size: 30px;
}

section.info .table .cell > h4 {
    font-size: 50px;
    margin: 10px 0;
}
/* --- Fine sezione info --- */

/* --- Inizio footer --- */
footer {
    padding-top: 80px;
    background-color: #33475b;
    color: #cbd6e2;
}

footer a {
    text-decoration: none;
    color: #cbd6e2;
}

footer a:hover {
    color: #81d1fc;
}

.actions-menu .action {
    float: left;
    width: calc((100% / 4) - ((25px * 3) / 4));
    margin-right: 25px;
}

.actions-menu .action.last {
    margin-right: 0;
}

.actions-menu::after {
    content: "";
    display: table;
    clear: both;
}

.actions-menu .action h4 {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.actions-menu ul {
    list-style-type: none;
}

.actions-menu .action a {
    display: inline-block;
    padding: 15px 0;
    width: 100%;
}

footer .contacts {
    width: calc((100% / 4) - ((25px * 3) / 4));
    float: right;
}

footer .contacts button {
    margin: 20px 0;
    background-color: white;
    color: black;
    padding: 10px;
    height: 50px;
}

footer .contacts button:hover {
    background-color: #ffffffc9;
}

footer .contacts .icons a {
    font-size: 26.6px;
    float: left;
    width: calc((100% / 6) - ((25px * 5) / 6));
    margin-right: 25px;
}

footer .contacts .icons a.last {
    margin-right: 0px;
}

footer .contacts .icons::after {
    content: "";
    display: table;
    clear: both;
}

footer .languages {
    text-align: center;
    margin: 70px 0 50px 0;;
}

footer .languages li {
    display: inline-block;
}

footer .languages a {
    font-size: 20px;
    padding: 20px;
}

footer .bottom {
    border-top: 1px solid #cbd6e2;
    padding: 25px 0;
}

footer .bottom .left {
    float: left;
}

footer .bottom .right {
    float: right;
}

footer .bottom::after {
    content: "";
    display: table;
    clear: both;
}

footer .bottom a {
    height: 50px;
    padding: 5px 0;
    line-height: 30px;
}

footer .bottom .left .logo img {
    height: 100%;
}

footer .bottom .left .copyright {
    margin: 10px 0;
}

footer .bottom .right a {
    font-size: 20px;
    display: inline-block;
    padding: 10px;
}
/* --- Fine footer --- */
